*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body , h1 ,h2 ,h3 ,h4 , p , span {
  margin: 0;
  padding: 0;
}

body {
  background-color:var(--main-bg-color) ;
  color: var(--defaul-text-color);
}


/* varibales color */
:root{
  --defaul-text-color:#adb4bb;
  --title-color:#eef5fc;
  --main-bg-color:#0c0f11;
  --blue:rgb(79, 77, 230);
}

.main-wrapper {
  max-width: 1200px;
  width: 50%;
  margin: 0 auto;
}

p {
  line-height: 190%;
}

a {
  text-decoration: none;
  color: rgb(79, 77, 230);
}