.container {
    

    .title {
        font-size: 32px;
        color: var(--title-color);  
    }

    .content_text_item {
        margin: 30px 0;

        .sub_title {
            font-size: 20px;
            color: var(--title-color);
            letter-spacing: 3px;
        }

        .content_text_ul {
            padding-left: 40px;
        }
    }

    & span {
        color: var(--title-color);
    }
    
}